# deps
node_modules/
.pnpm-store/

# build
dist/
build/
*.tsbuildinfo

# test / coverage
coverage/
*.lcov

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
